<ul class="opt-row">
  <li>
    <input type="checkbox" class="accordion" checked>
    <i></i>
    <h4>Chart Types</h4>
    <div class="opt-group">
      <div ng-repeat="(key, value) in $root.editorLine.label">
            <div class="form-group">
              <label>{{ value }}:</label>
		    <select ng-model="vis.params.configLine.type[key]" class="form-control">
		      <option ng-repeat="option in $root.editorLine.typeOptions" value="{{option}}">{{option}}</option>
		    </select>
            </div>
            <div class="form-group">
      	    	hide/unhide data series <input type="checkbox" class="disgrp" ng-model="vis.params.configLine.datahide[key]">
		</br>
            </div>
      </div>
    </div>
  </li>
  <li>
    <input type="checkbox" class="accordion" checked>
    <i></i>
    <h4>Chart Group</h4>
    <div class="opt-group">
            <div class="form-group">
		    <select ng-model="vis.params.configLinegrouped" class="form-control">
		      <option ng-repeat="option in $root.editorLine.group" value="{{option}}">{{option}}</option>
		    </select>
            </div>
    </div>
  </li>
  <li>
    <input type="checkbox" class="accordion" checked>
    <i></i>
    <h4>Data Labels</h4>
    <div class="opt-group">
      <div ng-repeat="(key, value) in $root.editorLine.label">
            <div class="form-group">
              <label>{{ value }}:</label>
		    <input type="text" ng-model="vis.params.configLine.names[key]" class="form-control"/>
            </div>
      </div>
    </div>
  </li>
  <li>
    <input type="checkbox" class="accordion" checked>
    <i></i>
    <h4>Data Colors</h4>
    <div class="opt-group">
      <div ng-repeat="(key, value) in $root.editorLine.label">
            <div class="form-group">
              <label>{{ value }}:</label>
		    <input type="color" ng-model="vis.params.configLine.colors[key]" class="form-control"/>
            </div>
      </div>
    </div>
  </li>
  <li>
    <input type="checkbox" class="accordion" checked>
    <i></i>
    <h4>Threshold Color</h4>
    <div class="opt-group">
      Enable threshold color&nbsp;<input type="checkbox" class="disgrp" ng-model="vis.params.configLine.threshold_enable">
      <div class="disgrp">
            <div class="form-group">
		    <select ng-model="vis.params.configLine_threshold_data" class="form-control">
		      <option ng-repeat="(key, value) in $root.editorLine.label" value="{{key}}">{{ key }}</option>
		    </select>
            </div>
            <div class="form-group">
              <label>Level1 Threshold:</label>
		    <input type="text" ng-model="vis.params.configLine_threshold_value1" class="form-control"/>
            </div>
            <div class="form-group">
              <label>Level1 Color:</label>
		    <input type="color" ng-model="vis.params.configLine_threshold_color1" class="form-control"/>
            </div>
            <div class="form-group">
              <label>Level2 Threshold:</label>
		    <input type="text" ng-model="vis.params.configLine_threshold_value2" class="form-control"/>
            </div>
            <div class="form-group">
              <label>Level2 Color:</label>
		    <input type="color" ng-model="vis.params.configLine_threshold_color2" class="form-control"/>
            </div>
      </div>
    </div>
  </li>
  <li>
    <input type="checkbox" class="accordion" checked>
    <i></i>
    <h4>Data Axis Y and Y2</h4>
    <div class="opt-group">
      Enable Y2&nbsp;<input type="checkbox" class="disgrp" ng-model="vis.params.configLine.enableY2">
      <div class="disgrp" ng-repeat="(key, value) in $root.editorLine.label">
            <div class="form-group">
              <label>{{ value }}:</label>
		    <select ng-model="vis.params.configLine.axisy[key]" class="form-control">
		      <option ng-repeat="option in $root.editorLine.axisy" value="{{option}}">{{option}}</option>
		    </select>
            </div>
      </div>
    </div>
  </li>
  <li>
    <input type="checkbox" class="accordion" checked>
    <i></i>
    <h4>Format Axis Y and Y2</h4>
    <div class="opt-group">
            <div class="form-group">
              <label>Axis Y:</label>
		    <select ng-model="vis.params.configLine.formaty" class="form-control">
		      <option ng-repeat="(key, value) in $root.editorLine.typeformat" value="{{key}}">{{value}}</option>
		    </select>
            </div>
            <div class="form-group">
              <label>Axis Y2:</label>
		    <select ng-model="vis.params.configLine.formaty2" class="form-control">
		      <option ng-repeat="(key, value) in $root.editorLine.typeformat" value="{{key}}">{{value}}</option>
		    </select>
            </div>
    </div>
  </li>
  <li>
    <input type="checkbox" class="accordion" checked>
    <i></i>
    <h4>Format Axis X</h4>
    <div class="opt-group">
	    <a href="https://github.com/mbostock/d3/wiki/Time-Formatting" class="linkd3" target="_blank" style="color:blue !important;">D3 Wiki Time Formatting</a>
            <div class="form-group">
              <label>Axis X:</label>
		    <input type="text" ng-model="vis.params.configLine.formatx" ng-init="vis.params.configLine.formatx = ( vis.params.configLine.formatx.length > 0 ) ? vis.params.configLine.formatx : '%Y-%m-%d'" class="form-control"/>
            </div>
    </div>
  </li>
  <li>
    <input type="checkbox" class="accordion" checked>
    <i></i>
    <h4>Grid Line Y</h4>
    <div class="opt-group">
            <div class="form-group">
              <label>Value:</label>
		    <input type="text" ng-model="vis.params.configLine.gridyval" class="form-control"/>
            </div>
            <div class="form-group">
              <label>Text:</label>
		    <input type="text" ng-model="vis.params.configLine.gridytxt" class="form-control"/>
            </div>
            <div class="form-group">
              <label>Postion:</label>
		    <select ng-model="vis.params.configLine.gridypos" class="form-control">
		      <option ng-repeat="option in $root.editorLine.gridpos" value="{{option}}">{{option}}</option>
		    </select>
            </div>
            <div class="form-group">
              <label>Color:</label>
		    <select ng-model="vis.params.configLine.gridycolor" class="form-control">
		      <option ng-repeat="(key, value) in $root.editorLine.gridcolor" value="{{value}}">{{key}}</option>
		    </select>
            </div>
    </div>
  </li>
  <li>
    <input type="checkbox" class="accordion" checked>
    <i></i>
    <h4>Range Axis Y and Y2</h4>
    <div class="opt-group">
    Autoscale&nbsp;<input type="checkbox" class="disgrp" ng-model="vis.params.configLine_autoscale">
            <div class="form-group">
              <label>min Y:</label>
		    <input type="text" ng-model="vis.params.configLine.rangeminy" class="form-control"/>
            </div>
            <div class="form-group">
              <label>max Y:</label>
		    <input type="text" ng-model="vis.params.configLine.rangemaxy" class="form-control"/>
            </div>
            <div class="form-group">
              <label>min Y2:</label>
		    <input type="text" ng-model="vis.params.configLine.rangeminy2" class="form-control"/>
            </div>
            <div class="form-group">
              <label>max Y2:</label>
		    <input type="text" ng-model="vis.params.configLine.rangemaxy2" class="form-control"/>
            </div>
    </div>
  </li>
  <li>
    <input type="checkbox" class="accordion" checked>
    <i></i>
    <h4>Axis Rotated</h4>
    <div class="opt-group">
      Enable &nbsp;<input type="checkbox" ng-model="vis.params.configLine.rotated">
    </div>
  </li>
  <li>
    <input type="checkbox" class="accordion" checked>
    <i></i>
    <h4>X Text Rotate</h4>
    <div class="opt-group">
            <div class="form-group">
              <label>Rotate:</label>
		    <input type="text" ng-model="vis.params.configLine_xrotate" class="form-control"/>
            </div>
    </div>
  </li>

</ul>
